<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623021677356-q3jvmm5oqs550k14kpcaiioj1hhqcraj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623021677356-q3jvmm5oqs550k14kpcaiioj1hhqcraj</string>
	<key>API_KEY</key>
	<string>AIzaSyB9U9Br46wwsT5hXp_lhDduG5wVcSgyEkA</string>
	<key>GCM_SENDER_ID</key>
	<string>623021677356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.here</string>
	<key>PROJECT_ID</key>
	<string>here-52516</string>
	<key>STORAGE_BUCKET</key>
	<string>here-52516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623021677356:ios:ff796333f11c58430aaa89</string>
</dict>
</plist>